*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: ultra-expanded;
    font-size: large;
}

#carousel {
    height: 90vh;
    width: auto;
    background-color: rgb(238, 214, 214);
}

#carousel img {
    height: 90vh;
}

main {
    background-color: rgb(238, 214, 214);
    height: fit-content;
    padding: 2em;
}

footer {
    background-color: black;
    color: white;
    padding: 2em;
    height: min-content;
}

h1 {
    font-weight: lighter;
    font-size: 32pt;
}

ul {
    list-style-type: none;
}

li {
    padding-bottom: 6px;
}

a:link, :visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(34, 130, 160);
    text-decoration: underline;
}

#tachado {
    text-decoration: line-through;
}