* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#principal {
    width: 100%;
    background-color: rgb(147, 228, 165);
    margin-left: auto;
    margin-right: auto;
    padding-left: 90px;
    padding-right: 90px;
}


header {
    width: 100%;
    height: 80px;
    display: inline-flex;
}

#logo {
    width: 50%;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    color: rgb(13, 54, 22);
}

header ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(13, 54, 22);
    list-style: none;
}

header li {
    padding-left: 25px;
}

header a:link {
    color: rgb(13, 54, 22);
    text-decoration: none;
}

header a:hover {
    color: rgb(13, 54, 22);
    font-weight: bold;
    position: relative;
    top: 2px;
    left: 2px;
}

header a:visited {
    color: rgb(13, 54, 22);
}

article {
    width: 100%;
    height: 600px;
    display: inline-flex;
}

#izquierda {
    width: 50%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 20px;
    border-radius: 10mm;
    min-width: max-content;
}

#izquierda img {
    height: 450px;
}

#derecha {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
    margin-left: 70px;
}

#countdown {
    background-color: black;
    color: aliceblue;
    padding: 15px;
    font-size: 12px;
}

h1 {
    padding-top: 15px;
    padding-bottom: 10px;
}

article ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    list-style: none;
    padding-top: 30px;
}

article li {
    padding-right: 25px;
}

.button a:link {
    background-color: aliceblue;
    color: rgb(147, 228, 165);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    padding: 6px;
    text-decoration: none;
}

.button a:visited {
    color: rgb(147, 228, 165);
}